body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 40px;
}

.primary-btn:link {
    color: aqua;
}

.primary-btn:visited {
    color: orange;
}
.primary-btn:hover{
     color: red;
     background-color: black;
}